<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo-icon.svg">
    <title>Đơn hàng chi tiết</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/extra-libs/multicheck/multicheck.css">
    <link href="/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader" id="loader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand" href="index.html">
                        <b class="logo-icon p-l-10">
                            <img src="/assets/images/logo-icon.svg" alt="homepage" class="light-logo" />
                        </b>
                        <span class="logo-text">
                            <img src="/assets/images/logo-text.svg" alt="homepage" class="light-logo" />
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a
                                class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                                data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                        <!-- ============================================================== -->
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="/admin/setting"><i class="ti-settings m-r-5 m-l-5"></i>
                                    Cài đặt tài khoản</a>
                                <a class="dropdown-item" href="/logout"><i class="fa fa-power-off m-r-5 m-l-5"></i>
                                    Đăng xuất</a>
                                <div class="dropdown-divider"></div>
                                <div class="p-l-30 p-10"><a href="javascript:void(0)"
                                        class="btn btn-sm btn-success btn-rounded">View
                                        Profile</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/"
                                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Tổng
                                    quan</span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/admin/banner" aria-expanded="false"><i class="mdi mdi-image-multiple"></i><span
                                    class="hide-menu">Hình ảnh
                                    banner</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/admin/category" aria-expanded="false"><i class="mdi mdi-file-document"></i><span
                                    class="hide-menu">Danh mục sản
                                    phẩm</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                                href="javascript:void(0)" aria-expanded="false"><i
                                    class="mdi mdi-package-variant-closed"></i><span class="hide-menu">Sản phẩm
                                </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/admin/product" class="sidebar-link"><i
                                            class="mdi mdi-format-list-bulleted"></i><span class="hide-menu"> Danh sách
                                            sản phẩm </span></a></li>
                                <li class="sidebar-item"><a href="/admin/product-size" class="sidebar-link"><i
                                            class="mdi mdi-table-edit"></i><span class="hide-menu"> Quản lý kho
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="/admin/size" class="sidebar-link"><i
                                            class="mdi mdi-move-resize"></i><span class="hide-menu"> Kích thước sản phẩm
                                        </span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/admin/bill" aria-expanded="false"><i class="mdi mdi-truck"></i><span
                                    class="hide-menu">Đơn hàng</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/admin/discount" aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span
                                    class="hide-menu">Mã giảm giá</span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/admin/reviews" aria-expanded="false"><i
                                    class="mdi mdi-comment-processing"></i><span class="hide-menu">Đánh giá sản
                                    phẩm</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/admin/employee" aria-expanded="false"><i
                                    class="mdi mdi-account-multiple"></i><span class="hide-menu">Nhân viên</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->

            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                {{#if success}}
                <div class="alert alert-success" role="alert">
                    {{success}}
                </div>
                {{/if}}
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/if}}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body-cus" style="margin-top: 20px; margin-left: 20px; margin-right: 20px;">
                                <h5 class="card-title m-b-0">Chi tiết đơn hàng | {{bill.don_hang_id}}</h5>
                            </div>
                            <div class="card bg-light mb-3"
                                style="max-width: 100%; margin-left: 20px; margin-right: 20px;">
                                <div class="card-header">Địa chỉ nhận hàng</div>
                                <div class="card-body">
                                    <h5 class="card-title">Thông tin liên hệ</h5>
                                    <p class="card-text">{{bill.ho_va_ten}} | (+84) {{bill.dien_thoai}} | {{bill.email}}
                                    </p>
                                    <h5 class="card-title">Địa chỉ</h5>
                                    <p class="card-text">{{bill.dia_chi}} </p>
                                </div>
                            </div>
                            <div class="card bg-light mb-3"
                                style="max-width: 100%; margin-left: 20px; margin-right: 20px;">
                                <div class="card-header">Sản phẩm</div>
                                <div class="card-body">
                                    <table class="table" id="myTable" style="background-color: white; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Ảnh</th>
                                                <th scope="col">Phiên bản sản phẩm</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Tổng tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each billsDetail}}
                                            <tr>
                                                <th scope="row" style="width: 10%;">{{calculateIndex @index}}</th>
                                                <td style="width: 10%"><img id="img-table-cus"
                                                        src="{{this.anh_dai_dien}}" alt="Hình ảnh"></td>
                                                <td style="width: 30%;">{{this.ten_san_pham}} - {{this.kich_thuoc}}</td>
                                                <td style="width: 30%;">{{this.so_luong}}</td>
                                                <td style="width: 30%;">{{formatCurrency this.don_gia}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-group">
                                <div class="card bg-light mb-3"
                                    style="max-width: 100%; margin-left: 20px; margin-right: 20px;">
                                    <div class="card-header">Hình thức thanh toán</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <a href="#" class="badge badge-dark"
                                                style="font-size: 14px;">{{bill.hinh_thuc_thanh_toan}}</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="card bg-light mb-3"
                                    style="max-width: 100%; margin-left: 20px; margin-right: 20px;">
                                    <div class="card-header">Mã giảm giá</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            {{#equal bill.giam_gia_id null}}
                                            <a href="#" class="badge badge-primary" style="font-size: 14px;">Mã giảm giá
                                                không áp dụng</a>
                                            {{else}}
                                            <a href="#" class="badge badge-primary"
                                                style="font-size: 14px;">{{bill.code}} | {{bill.gia_tri}}%</a>
                                            {{/equal}}

                                        </p>
                                    </div>
                                </div>
                                <div class="card bg-light mb-3"
                                    style="max-width: 100%; margin-left: 20px; margin-right: 20px;">
                                    <div class="card-header">Trạng thái thanh toán</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            {{#equal bill.trang_thai_thanh_toan "Chưa thanh toán"}}
                                            <a href="" class="badge badge-danger" style="font-size: 13px;">Chưa thanh
                                                toán</a>
                                            {{/equal}}
                                            {{#equal bill.trang_thai_thanh_toan "Đã thanh toán"}}
                                            <a href="" class="badge badge-success" style="font-size: 13px;">Đã thanh
                                                toán</a>
                                            {{/equal}}
                                        </p>
                                    </div>
                                </div>
                                <div class="card bg-light mb-3"
                                    style="max-width: 100%; margin-left: 20px; margin-right: 20px;">
                                    <div class="card-header">Trạng thái đơn hàng</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            {{#equal bill.tinh_trang_giao_hang "Chờ xác nhận"}}
                                            <a href="" class="badge badge-warning" style="font-size: 13px;">Chờ xác
                                                nhận</a>
                                            {{/equal}}
                                            {{#equal bill.tinh_trang_giao_hang "Chờ lấy hàng"}}
                                            <a href="#" class="badge badge-info" style="font-size: 13px;">Chờ lấy
                                                hàng</a>
                                            {{/equal}}
                                            {{#equal bill.tinh_trang_giao_hang "Đang giao hàng"}}
                                            <a href="" class="badge badge-primary" style="font-size: 13px;">Đang giao
                                                hàng</a>
                                            {{/equal}}
                                            {{#equal bill.tinh_trang_giao_hang "Đã giao hàng"}}
                                            <a href="" class="badge badge-success" style="font-size: 13px;">Giao hàng
                                                thành công</a>
                                            {{/equal}}
                                            {{#equal bill.tinh_trang_giao_hang "Đã hủy"}}
                                            <a href="" class="badge badge-light" style="font-size: 13px;">Đã huỷ</a>
                                            {{/equal}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-warning mb-3"
                                style="max-width: 100%; margin-left: 20px; margin-right: 20px;">
                                <div class="card-header">Lưu ý của khách hàng</div>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{#equal bill.ghi_chu ""}}
                                        Không có lưu ý nào từ khách hàng
                                        {{else}}
                                        {{#equal bill.ghi_chu null}}
                                        Không có lưu ý nào từ khách hàng
                                        {{else}}
                                        {{bill.ghi_chu}}
                                        {{/equal}}
                                        {{/equal}}
                                    </p>
                                </div>
                            </div>
                            <div class="card text-white bg-dark mb-3"
                                style="max-width: 100%; margin-left: 20px; margin-right: 20px;">
                                <div class="card-header">Chi tiết thanh toán ({{billsDetail.length}} sản phẩm)</div>
                                <div class="card-body">
                                    <h5 class="card-title">Tổng tiền sản phẩm</h5>
                                    <p class="card-text">
                                        {{formatCurrency (calculateTotalAmount billsDetail)}}
                                    </p>
                                    <h5 class="card-title">Giảm giá</h5>
                                    <p class="card-text">
                                        {{#equal bill.giam_gia_id null}}
                                        Không áp dụng mã giảm giá
                                        {{else}}
                                        {{bill.gia_tri}}%
                                        {{/equal}}
                                    </p>
                                    <h5 class="card-title">Tổng thanh toán</h5>
                                    <p class="card-text">
                                        {{formatCurrency bill.thanh_tien}}
                                    </p>
                                </div>
                            </div>
                            {{#equal bill.tinh_trang_giao_hang "Chờ xác nhận"}}
                            <div class="row" style="margin-left: 10px; margin-right: 10px; margin-bottom: 20px;">
                                <div class="col-sm-6">
                                    <form action="/admin/bill/confirm-order/{{bill.don_hang_id}}?_method=PUT" method="POST">
                                        <button type="submit" class="btn btn-warning"
                                            style="width: 100%; height: 40px;">Xác
                                            nhận đơn hàng</button>
                                    </form>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                        data-target="#model-cancel-order" style="width: 100%; height: 40px;">Huỷ
                                        đơn</button>
                                </div>
                            </div>
                            {{/equal}}
                            {{#equal bill.tinh_trang_giao_hang "Đã giao hàng"}}
                            <div class="card text-white bg-success mb-3"
                                style="max-width: 100%; margin-left: 20px; margin-right: 20px; ">
                                <div class="card-header">Đơn đã giao</div>
                                <div class="card-body">
                                    <p class="card-text">Đơn hàng đã giao thành công</p>
                                </div>
                            </div>
                            {{/equal}}
                            {{#equal bill.tinh_trang_giao_hang "Đã hủy"}}
                            <div class="card text-white bg-danger mb-3"
                                style="max-width: 100%; margin-left: 20px; margin-right: 20px;">
                                <div class="card-header">Đơn đã huỷ</div>
                                <div class="card-body">
                                    <h5 class="card-title">Lý do</h5>
                                    <p class="card-text">{{bill.ly_do_huy}}</p>
                                </div>
                            </div>
                            {{/equal}}
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
                <!--Modal huỷ đơn hàng-->
                <div class="modal fade" id="model-cancel-order" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Lý do huỷ đơn</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="image-upload-form" action="/admin/bill/cancel-order/{{bill.don_hang_id}}?_method=PUT"
                                    method="POST">
                                    <div class="form-group">
                                        <label for="image-upload" class="title-form">Nội dung</label>
                                        <input type="text" data-toggle="tooltip" title="" class="form-control"
                                            id="validationDefault05" placeholder="Nhập nội dung huỷ đơn hàng"
                                            required="" data-original-title="A Tooltip for the input !" name="reason">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Huỷ</button>
                                        <button style="color: white;" type="submit" class="btn-delete-confirm"
                                            id="upload-image">Huỷ đơn</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#').DataTable();
    </script>
    <script src="/dist/js/bill-detail.js"></script>
</body>

</html>