<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo-icon.svg">
  <title>Cài đặt tài khoản</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/extra-libs/multicheck/multicheck.css">
  <link href="/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="/dist/css/style.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
  <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
</head>

<body>
  <div class="preloader" id="loader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper">
    <header class="topbar" data-navbarbg="skin5">
      <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin5">
          <!-- This is for the sidebar toggle which is visible on mobile only -->
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
              class="ti-menu ti-close"></i></a>
          <a class="navbar-brand" href="index.html">
            <b class="logo-icon p-l-10">
              <img src="/assets/images/logo-icon.svg" alt="homepage" class="light-logo" />
            </b>
            <span class="logo-text">
              <img src="/assets/images/logo-text.svg" alt="homepage" class="light-logo" />
            </span>
          </a>
          <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
          <ul class="navbar-nav float-left mr-auto">
            <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light"
                href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
            <!-- ============================================================== -->
          </ul>
          <ul class="navbar-nav float-right">
            <ul class="navbar-nav float-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                    src="/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                <div class="dropdown-menu dropdown-menu-right user-dd animated">
                  <a class="dropdown-item" href="/admin/setting"><i class="ti-settings m-r-5 m-l-5"></i>
                    Cài đặt tài khoản</a>
                  <a class="dropdown-item" href="/logout"><i class="fa fa-power-off m-r-5 m-l-5"></i>
                    Đăng xuất</a>
                  <div class="dropdown-divider"></div>
                  <div class="p-l-30 p-10"><a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View
                      Profile</a></div>
                </div>
              </li>
            </ul>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
      <div class="scroll-sidebar">
        <nav class="sidebar-nav">
          <ul id="sidebarnav" class="p-t-30">
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/"
                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Tổng
                  quan</span></a>
            </li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/banner"
                aria-expanded="false"><i class="mdi mdi-image-multiple"></i><span class="hide-menu">Hình ảnh
                  banner</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/category" aria-expanded="false"><i class="mdi mdi-file-document"></i><span
                  class="hide-menu">Danh mục sản
                  phẩm</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-package-variant-closed"></i><span
                  class="hide-menu">Sản phẩm
                </span></a>
              <ul aria-expanded="false" class="collapse  first-level">
                <li class="sidebar-item"><a href="/admin/product" class="sidebar-link"><i
                      class="mdi mdi-format-list-bulleted"></i><span class="hide-menu"> Danh sách
                      sản phẩm </span></a></li>
                <li class="sidebar-item"><a href="/admin/product-size" class="sidebar-link"><i
                      class="mdi mdi-table-edit"></i><span class="hide-menu"> Quản lý kho
                    </span></a>
                </li>
                <li class="sidebar-item"><a href="/admin/size" class="sidebar-link"><i
                      class="mdi mdi-move-resize"></i><span class="hide-menu"> Kích thước sản phẩm
                    </span></a></li>
              </ul>
            </li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/bill"
                aria-expanded="false"><i class="mdi mdi-truck"></i><span class="hide-menu">Đơn hàng</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/discount" aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span
                  class="hide-menu">Mã giảm giá</span></a>
            </li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/reviews"
                aria-expanded="false"><i class="mdi mdi-comment-processing"></i><span class="hide-menu">Đánh giá sản
                  phẩm</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/employee" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                  class="hide-menu">Nhân viên</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    <div class="page-wrapper">
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Thông báo khi thao tác với tác vụ CRUD --->
        {{#if success}}
        <div class="alert alert-success" role="alert">
          {{success}}
        </div>
        {{/if}}
        {{#if error}}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
        {{/if}}
        {{#if warning}}
        <div class="alert alert-danger" role="alert">
          {{warning}}
        </div>
        {{/if}}
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body-cus" style="margin: 20px;">
                <h5 class="card-title m-b-0">Cài đặt tài khoản</h5>
              </div>
              <form style="margin-left: 20px; margin-right: 20px;" action="/admin/update-profile?_method=PUT"
                method="POST" enctype="multipart/form-data" id="form-update">
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label for="formFile" class="title-form">
                        Chọn ảnh đại diện</label>
                      <input class="form-control" type="file" id="formFile" name="image">
                      <input type="hidden" value="{{user.anh_dai_dien}}" name="imgUrl">
                      <div
                        style="align-items: center; display: flex; text-align: center;flex-direction: column;                      ">
                        <img src="{{user.anh_dai_dien}}" class="img-thumbnail"
                          style="margin-top: 10px; width: 200px; height: 200px;" id="previewImage">
                      </div>
                    </div>
                    <label for="formGroupExampleInput" class="title-form">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ví dụ: nguyenvana"
                      name="username" required="" value="{{user.ten_dang_nhap}}" readonly>
                    <label for="formGroupExampleInput" class="title-form">Mật khẩu</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ví dụ: abc"
                      value="{{user.mat_khau}}" name="password" required="">
                  </div>
                  <div class="col">
                    <label for="formGroupExampleInput" class="title-form">Họ và tên</label>
                    <input type="text" class="form-control" id="fullNameInput" name="fullName"
                      placeholder="Ví dụ: Nguyễn Văn A" required="" value="{{user.ho_va_ten}}">
                    <div class="validate-message" id="message-fullnameInput">
                      Họ và tên không hợp lệ.
                    </div>
                    <label for="formGroupExampleInput" class="title-form">Điện thoại</label>
                    <input type="number" class="form-control" id="phoneNumberInput" name="phoneNumber"
                      placeholder="Ví dụ: 0909-xxx-xxx" required="" value="{{user.dien_thoai}}">
                    <div class="validate-message" id="message-phoneNumberInput">
                      Số điện thoại không hợp lệ.
                    </div>
                    <label for="formGroupExampleInput" class="title-form">Địa chỉ</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" value="{{user.dia_chi}}"
                      name="address" placeholder="Ví dụ: Số nhà B, Đường A" required="">
                    <label for="formGroupExampleInput" class="title-form">Giới tính</label>
                    <select class="custom-select" name="gender">
                      <option value="Nam" {{#equal user.gioi_tinh 'Nam' }} selected {{/equal}}>Nam
                      </option>
                      <option value="Nữ" {{#equal user.gioi_tinh 'Nữ' }} selected {{/equal}}>Nữ
                      </option>
                      <option value="Khác" {{#equal user.gioi_tinh 'Khác' }} selected {{/equal}}>
                        Khác</option>
                    </select>
                    <label for="formGroupExampleInput" class="title-form">Ngày sinh</label>
                    <input type="date" class="form-control" id="dateOfBirthInput" placeholder="Ví dụ: Số nhà B, Đường A"
                      name="dateOfBirth" required="" value="{{reverseDate (formatDate user.ngay_sinh)}}">
                    <div class="validate-message" id="message-dateOfBirthInput">
                      Ngày sinh không hợp lệ. Nhân viên phải đủ 18 tuổi.
                    </div>
                  </div>
                </div>
                <button id="addButton" class="button-26" type="submit"
                  style="margin-top: 20px; margin-bottom: 20px;">Lưu thông tin</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer text-center">
        Unisex Store - Thời trang cho mọi người <a href="">Unisex.com</a>.
      </footer>
    </div>
  </div>
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
  <!--Wave Effects -->
  <script src="/dist/js/waves.js"></script>
  <!--Menu sidebar -->
  <script src="/dist/js/sidebarmenu.js"></script>
  <!--Custom JavaScript -->
  <script src="/dist/js/custom.min.js"></script>
  <!-- this page js -->
  <script src="/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
  <script src="/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
  <script src="/assets/extra-libs/DataTables/datatables.min.js"></script>
  <script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
  </script>

  <script>

    // Hiển thị image khi chọn ảnh trong thư mục
    document.addEventListener("DOMContentLoaded", function () {
      const fileInput = document.getElementById("formFile");
      const previewImage = document.getElementById("previewImage");

      fileInput.addEventListener("change", function () {
        if (fileInput.files.length > 0) {
          const selectedImage = fileInput.files[0];

          // Check if the selected file is an image
          if (selectedImage.type.startsWith("image/")) {
            const imageURL = URL.createObjectURL(selectedImage);
            previewImage.src = imageURL;
          } else {
            // Handle non-image file selection here, if needed
            console.log("Please select an image file.");
          }
        }
      });
    });

    new MultiSelectTag('countries');
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Ẩn các thông báo đang hiện thị sau 2 giây hiển thị
      const alerts = document.querySelectorAll('.alert');

      alerts.forEach(function (alert) {
        setTimeout(function () {
          alert.style.display = 'none';
        }, 4000);
      });
    });
  </script>

  <script>
    // So khớp với bất kỳ ký tự nào trong dấu vuông
    const isInvalidFullName = (input) => {
      var regex = /[0-9-_.!@#$%^&*()<>,?;:{}]+/;
      return regex.test(input);
    };

    const isValid10To11DigitPhoneNumber = (phoneNumber) => {
      const regex = /^\d{10,11}$/;
      return regex.test(phoneNumber);
    };

    const isValidDateOfBirth = (dateOfBirth) => {
      // Lấy ngày hiện tại
      const today = new Date();

      // Tính toán tuổi từ ngày hiện tại đến ngày sinh
      const age = today.getFullYear() - dateOfBirth.getFullYear() -
        (today.getMonth() < dateOfBirth.getMonth() ? 1 : 0) -
        (today.getDate() < dateOfBirth.getDate() ? 1 : 0);

      // Nếu tuổi đủ 18 thì hợp lệ
      return age >= 18;
    };


    const fullnameInput = document.getElementById('fullNameInput');
    const messageFullnameInput = document.getElementById('message-fullnameInput');

    const phoneNumberInput = document.getElementById('phoneNumberInput');
    const messagePhoneNumber = document.getElementById('message-phoneNumberInput');

    const dateOfBirthInput = document.getElementById('dateOfBirthInput');
    const messagedateOfBirthInput = document.getElementById('message-dateOfBirthInput');

    const formUpdateProfile = document.getElementById('form-update');
    formUpdateProfile.addEventListener('submit', function (event) {

      if (isInvalidFullName(fullnameInput.value)) {
        // Tên không hợp lệ
        fullnameInput.classList.add('is-invalid');
        messageFullnameInput.style.display = 'block'
        event.preventDefault();
      } else {
        fullnameInput.classList.remove('is-invalid');
        messageFullnameInput.style.display = 'none'
      }

      if (!isValid10To11DigitPhoneNumber(phoneNumberInput.value)) {
        // Số không hợp lệ
        phoneNumberInput.classList.add('is-invalid');
        messagePhoneNumber.style.display = 'block'
        event.preventDefault();
      } else {
        phoneNumberInput.classList.remove('is-invalid');
        messagePhoneNumber.style.display = 'none'
      }

      if (!isValidDateOfBirth(new Date(dateOfBirthInput.value))) {
        // Ngày sinh không hợp lệ
        dateOfBirthInput.classList.add('is-invalid');
        messagedateOfBirthInput.style.display = 'block'
        event.preventDefault();
      } else {
        // Ngày sinh hợp lệ
        dateOfBirthInput.classList.remove('is-invalid');
        messagedateOfBirthInput.style.display = 'none'
      }
    });
  </script>
</body>

</html>